html {
}

body {
  height: 300px;
  width: 100%;
  background-color: #77bbab;
  margin: auto;
}

main {
  display: flex;
  justify-content: center;
}

#flex-container {
  width: 100%;
  justify-content: space-around;
  display: flex;
}

#content {
  display: flex;
  justify-content: center;
  max-width: 60%;
  margin: auto;
  margin-top: 10px;
  border: 1px solid #373736;
  border-radius: 5px;
}

#navbar {
  height: 50px;
  background-color: #282A35;
  justify-content: center;
  display: flex;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  float: left;
  display: inline;
}

a {
  text-decoration: none;
  padding: 15px 15px 15px 15px;
  color: #ffffff;
}

#nav-main a:hover {
  background-color: #373736;
}

#nav-login a:hover {
  background-color: #373636;
}

a:hover {

}
